@font-face {
  font-family: 'WhatsHappened';
  src: url('/Fonts/WhatsHappened.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Futura', 'Century Gothic', 'Avenir', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: normal;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Apply WhatsHappened to all titles and headings */
h1, h2, h3, h4, h5, h6,
.title,
.heading {
  font-family: 'WhatsHappened', 'Futura', 'Century Gothic', sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}